:root {
	--bg-square-width: 10px;
	--bg-square-inner-color: #8BE9FD;
	--bg-square-edge-color: #85E2F6;
	--bg-complementary: #8c0148;
	--bg-complementary-light: #50fa7b;
	--text-color: #18272F;
	color: var(--text-color);
}

@font-face {
	font-family: xProto;
	font-display: optional;
	src: url("/0xproto-webfont.woff2")
}



* {
	box-sizing: border-box;
	margin: 0;
	white-space: nowrap;
	font-family: xProto;
}

body {
	background-attachment: fixed;
	width: 100%;
	grid-gap: 20px;
	padding: 10px;
	background-color: var(--bg-square-inner-color);
	background-image: linear-gradient(90deg, var(--bg-square-edge-color) 49%, var(--bg-square-edge-color) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%), linear-gradient(0, var(--bg-square-edge-color) 49%, var(--bg-square-edge-color) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%), radial-gradient(circle, rgba(0, 0, 0, 0) 50%, var(--bg-square-edge-color) 100%);
	background-size: var(--bg-square-width), var(--bg-square-width) var(--bg-square-width), 100%;
	display: grid;
	animation: backgroundMove 240s infinite;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

a {
	text-decoration: none;
	color: var(--text-color);
	font-weight: 700;
	position: relative;
	transition: color 0.5s;
	padding: 10px;
}

#profileInfo_links > a::before {
	content: '';
	background-color: var(--bg-complementary);
	position: absolute;
	left: 0;
	bottom: 3px;
	width: 100%;
	height: 8px;
	z-index: -1;
	transition: all .3s ease-in-out;
}

a:hover {
	color: var(--bg-square-inner-color);
}

#profileInfo_links > a:hover::before {
	bottom: 0;
	height: 100%;
	border-radius: 10px;
}

#profileInfo_links>a {
	display: flex;
	flex-flow: column;
	font-size: 1.5em;
	padding-top: 10px;
}

h2 {
	font-size: 2em;
	text-decoration: underline;
}

li {
	font-size: 1.2em;
	position: relative;
	transition: color 0.5s;
	padding: 5px;
}

li::before {
	content: "";
	background-color: var(--bg-complementary);
	position: absolute;
	left: 0;
	bottom: 3px;
	width: 0px;
	height: 100%;
	z-index: -1;
	transition: all .3s ease-in-out;
}

li:hover {
	color: var(--bg-square-inner-color);
}

li:hover::before {
	bottom: 0;
	width: 100%;
	border-radius: 10px;
}

@keyframes backgroundMove {
	from {
		background-position: 0% 100%, 100% 0%, 0% 0%
	}

	to {
		background-position: 100% 0%, 0% 100%, 0% 0%
	}
}

#profileInfo {
	display: flex;
	flex-direction: column;
}

#profileInfo_name {
	font-size: 2em;
}

li:first-of-type::marker {
	content: "╔══";
}

li:hover::marker {
	color: var(--bg-complementary);
}
li::marker {
	content: "╠══";
	transform: scale(150%);
}

li:last-of-type::marker {
	content: "╚══";
}

li:only-of-type::marker {
	content: "Ͼ ";
}

.ncul>li::marker {
	content: "Ͼ ";
}

ul {
	line-height: 1.2;
}

body>section {
	background-color: transparent;
	border-radius: 10px;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	padding: 10px;
	width: 95%;
	background: radial-gradient(circle, var(--bg-square-edge-color) 0%,
			var(--bg-square-edge-color) 25%,
			transparent 100%);
	transition: background-color 0.7s, transform 0.1s, box-shadow 0.3s;
}

body>section:hover {
	background-color: var(--bg-square-inner-color);
	box-shadow: rgba(0, 0, 0, 0.1) 11px 10px 6px -3px;
}

body>section::before,
body>section::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 2px;
	background-color: var(--bg-complementary);
	transform: scaleY(0);
	transition: transform 0.5s ease;
}

body>section::before {
	left: -8px;
	transform-origin: center top;
}

body>section:hover::before {
	transform-origin: center bottom;
	transform: scaleY(1);
}

body>section::after {
	right: -8px;
	transform-origin: center bottom;
}

body>section:hover::after {
	transform-origin: center top;
	transform: scaleY(1);
}

#profilePhoto {
	overflow: hidden;
	align-items: center;
	background: url("profile.avif");
	background-size: cover;
	background-position: center;
	grid-column: 1;
	grid-row: 1 / span 2;
	min-height: 300px;
	width: 98%;
}

@media screen and (max-width: 768px) {
	body {
		grid-template-columns: auto;
	}

	#profileInfo_links {
		font-size: 0.8em;
	}

	* {

		white-space: initial;
	}

	li::marker {
		content: ""
	}

	li:first-of-type::marker {
		content: ""
	}

	li:last-of-type::marker {
		content: "";
	}

	ul {
		padding: 0;
	}

}

@media only screen and (max-width: 992px) {

	body {
		grid-template-columns: auto;
	}

	:root {
		font-size: 0.8em;
	}


}

@media only screen and (min-width: 992px) {

	body {
		grid-template-columns: auto auto;

	}

}
@media only screen and (min-width: 1200px) {

	body {
		grid-template-columns: auto auto;

	}

}
@media only screen and (min-width: 1800px) {

	body {
		grid-template-columns: auto auto auto;

	}

}
@media only screen and (min-width: 2500px) {

	body {
		grid-template-columns: auto auto auto auto;
		font-size: 1.5em;

	}

}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-square-inner-color: #282A36;
		--bg-square-edge-color: #2d2f3b;
		--bg-complementary: #DEAEC2;
		--text-color: #F8F8F2;
	}

}

button {
	background-color: var(--bg-complementary);
	border-radius: 40px;
	font-size: 2em;
	padding: 10px;
	border-width: 0;
	box-shadow: 0px 0px 3px 3px gray;
	transition: background-color 0.5s;
	cursor: pointer;
}

.floating-element {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
}

button::before {
	content: "";
	background-color: var(--bg-complementary-light);
	position: absolute;
	left: 0;
	bottom: 3px;
	width: 0px;
	height: 100%;
	z-index: -1;
	transition: all .3s ease-in-out;
}

button:hover::before {
	bottom: 0;
	width: 100%;
	border-radius: 40px;
}
